**/node_modules
local.env
production.env
loca/~$Loca_Keys_Strings_DE_EN.xlsx
~$WIFI-Projekt Präsentation.pptx
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
client/package-lock.json

# Log files
server-logs.txt
*.log
